<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <script crossorigin src="<%= htmlWebpackPlugin.options.react %>"></script>
    <script
      crossorigin
      src="<%= htmlWebpackPlugin.options.reactDom %>"
    ></script>
    <script crossorigin src="<%= htmlWebpackPlugin.options.redux %>"></script>
    <title>Trekksoft</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
