@import "../../const.less";

.app {
  margin: 40px 32px;
  @media (min-width: @big_screen) {
    margin: 79px auto;
    max-width: 680px;
  }
}

.header {
  display: block;
  max-width: 80%;
  line-height: 130%;
  letter-spacing: 2px;
  @media (min-width: @big_screen) {
    margin-bottom: 24px;
  }
}

.input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 42px;
}

.more_button {
  margin: 23px auto 0;
  border: none;
  background: transparent;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #506b81;
}

.lists {
  display: flex;
}

.list {
  flex: 0 0 320px;
  margin-right: 40px;
}
